*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --row-table: rgb(223, 223, 223);
    --color-secondary: rgb(245, 245, 245);
    --color-text: rgb(29, 29, 29);
    --color-text-hover: rgb(102, 102, 102);
}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article{
    padding: 30px;
    background-color: white;
    width: 70%;
}

article>p{
    text-align: justify;
}

aside{
    padding: 30px;
    background-color: white;
    width: 20%;
}

article>table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--color-text);
}

article>table td{
    padding: 25px;
}

article>table tr:nth-child(even){
    background-color: var(--row-table);
}

body{
    background-color: var(--color-secondary);
}

footer{
    background-color: white;
    border-top: 1px solid var(--color-text);
    padding: 30px;
}

footer>p{
    text-align: center;
}

h1{
    font-size: 2em;
}

header{
    border-bottom: 1px solid var(--color-text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
}

header>figure{
    width: 20%;
    min-width: 200px;
}

header>section{
    width: 40%;
    min-width: 200px;
}

header>nav{
    width: 20%;
    min-width: 200px;
}

header>figure>img{
    width: 120px;
}

header>nav ul{
    gap: 1.1rem;
}

header>nav li{
    list-style: none;
}

header>nav a{
    text-decoration: none;
    color: var(--color-text);
    text-transform: capitalize;
}

header>nav a:hover{
    cursor: pointer;
    color: var(--color-text-hover);
}

#content-body{
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content-body h1,h2,h3,h4,h5,h6{
    margin-top: 15px;
    margin-bottom: 15px;
}

#content-body p{
    font-size: 13pt;
    line-height: 1.4em;
}

.flex-around{
    justify-content: space-around;
}

.flex-items-center{
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.flex-wrap{
    flex-wrap: wrap;
}

.search-container{
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
}

.search-container input{
    width: 100%;
    border: 0 none;
    outline: 0;
    box-shadow: 0 0 0 0;
}

@media only screen and (max-width: 600px) {

    article{
        width: 100%;
    }

    aside{
        width: 100%;
    }

    header{
        display: flex;
        -webkit-display: flex; /* Safari e Chrome */
        -moz-display: flex; /* Firefox */
        -ms-display: flex; /* Internet Explorer */
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header>figure{
        justify-content: center;
        display: flex;
        width: 100%;
    }

    header>section{
        width: 100%;
        min-width: 200px;
    }

    header>nav{
        display: none;
        -webkit-display: none;
        -moz-display: none;
        -ms-display: none;
    }

    #content-body{
        display: flex;
        flex-direction: column-reverse;
    }
}
